<div class="container">
  <div class="content" >
    <div class="slide">
      <div class="name-container">
        Nombre:
        <input type="text" [value]="role.name" name="name" required [readOnly]="isReadOnly">
      </div>
      <div class="name-container">
        <div class="switch-order-container">
          Estado:
          <label class="switch">
            <input type="checkbox" [checked]="role.status ? true: false" [disabled]="isDisabled">
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div (click)="GoTo()" class="name-container">
        <button class="back">
          Volver
        </button>
      </div>
    </div>
    <div class="permissions">
      <cdk-accordion class="example-accordion">
        @for (item of items; track item; let index = $index) {
          <cdk-accordion-item

            #accordionItem="cdkAccordionItem"
            class="example-accordion-item"
            role="button"
            tabindex="0"
            [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + index">
            <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
              {{ item.name }}
              <span class="example-accordion-item-description">
                Click para {{ accordionItem.expanded ? 'cerrar' : 'ver' }}
              </span>
            </div>
            <div
              class="example-accordion-item-body"
              role="region"
              [style.display]="accordionItem.expanded ? '' : 'none'"
              [attr.id]="'accordion-body-' + index"
              [attr.aria-labelledby]="'accordion-header-' + index">
              <div class="switch-content">
                  <div class="check-content">
                    <div class="switch-order">
                      Puede Crear
                      <label class="switch">
                        <input type="checkbox" [checked]="item.permissions.canCreate ? true: false" [disabled]="isDisabled">
                        <span class="slider"></span>
                      </label>
                    </div>
                  </div>
                  <div class="check-content">
                    <div class="switch-order">
                      Puede Ver
                      <label class="switch">
                        <input type="checkbox" [checked]="item.permissions.canRead ? true: false" [disabled]="isDisabled">
                        <span class="slider"></span>
                      </label>
                    </div>
                  </div>
                  <div class="check-content" *ngIf="item.accessName === 'user'">
                    <div class="switch-order">
                      solamente su usuario
                      <label class="switch">
                        <input type="checkbox" [checked]="item.permissions.onlyMyRecord ? true: false" [disabled]="isDisabled">
                        <span class="slider"></span>
                      </label>
                    </div>
                  </div>
                  <div class="check-content">
                    <div class="switch-order">
                      Ver por item
                      <label class="switch">
                        <input type="checkbox" [checked]="item.permissions.getById ? true: false" [disabled]="isDisabled">
                        <span class="slider"></span>
                      </label>
                    </div>
                  </div>
                  <div class="check-content">
                    <div class="switch-order">
                      Puede Editar
                      <label class="switch">
                        <input type="checkbox" [checked]="item.permissions.canUpdate ? true: false" [disabled]="isDisabled">
                        <span class="slider"></span>
                      </label>
                    </div>
                  </div>
                  <div class="check-content">
                    <div class="switch-order">
                      Puede Eliminar
                      <label class="switch">
                        <input type="checkbox" [checked]="item.permissions.canDelete ? true: false" [disabled]="isDisabled">
                        <span class="slider"></span>
                      </label>
                    </div>
                  </div>
              </div>
            </div>
          </cdk-accordion-item>
        }
      </cdk-accordion>
    </div>
  </div>
</div>
