<nav class="navigation">
  <div class="logo">
    <img src="/assets/icons/navbar/indice.svg" alt="logo">
  </div>
  <div class="links">
    <ul>
      <li><img src="/assets/icons/navbar/home.svg" alt="ícono home"> <a (click)="goTo('home')">Home</a></li>
      <li><img src="/assets/icons/navbar/lupa.svg" alt="ícono lupa"><a href="">Buscador</a></li>
      <li><img src="/assets/icons/navbar/footprint.svg" alt="ícono home"><a (click)="goTo('pets/create')">Registro</a></li>
      <li><img src="/assets/icons/navbar/footprint.svg" alt="ícono logOut"><a (click)="logOut()">Salir</a></li>
    </ul>
  </div>
</nav>
