<button class="container">
  <div (click)="goTo('details')" class="img">
  </div>
  <div class="rol">
    <div class="name">
      <p>{{role.name}}</p>
    </div>
    <div class="status">
      <p>Estado: {{role.status ? 'Activo' : 'Inactivo' }}</p>
    </div>
  </div>
  <div class="actions">
    <button (click)="delete()">
      <img ngSrc="/assets/icons/trash.svg" width="50" height="50" alt="Eliminar">
    </button>
    <button (click)="goTo('update')">
      <img ngSrc="/assets/icons/edit.svg" width="50" height="50" alt="Editar">
    </button>
  </div>
</button>
