<div class="container">
  <div class="button">
    <button (click)="create()" class="create">
      <img class="rol-icon" src="/assets/icons/rol.svg" alt="">
      <h2>Crear nuevo rol</h2>
    </button>
  </div>
  <div class="content">
    <div class="search">
      <input type="search" placeholder="Search..." />
    </div>
    <div class="list">
      @for (rol of roles; track rol.id) {
        <app-role [role]="rol"></app-role>
        <app-role [role]="rol"></app-role>
      }
      <!-- @for (rol of roles; track rol.id) {
        @if (rol.id == 0) {
          No hay roles
        } @else {
          @for (rol of roles; track rol.id) {
            <app-role [role]="rol"></app-role>
          }
        }
      } -->
    </div>
  </div>
</div>
