<div class="container">
  <div class="button">
    <button (click)="create()" class="create">
      <!-- <img ngSrc="/assets/icons/rol.svg" width="40" height="40" alt=""> -->
      <img ngSrc="/assets/icons/rol.svg" width="40" height="40" alt="">
      <h2>Crear nuevo rol</h2>
    </button>
  </div>
  <div class="content">
    <div class="search">
      <input type="search" (input)="search($event)" placeholder="Search..." />
    </div>
    <div class="list">
      @if (roles.length === 0) {
        <p>No hay roles</p>
      } @else {
        @for (rol of roles; track rol.id) {
          <app-role [role]="rol"></app-role>
        }
      }
    </div>
  </div>
</div>
