<div class="container">
    <div class="card-user">
      <div class="user">
        <div class="icon">
          <img src="/assets/icons/user.svg" alt="user">
        </div>
        <div class="info">
          <h4>Bienvenido</h4>
          <h2>Isaac Fernando</h2>
        </div>
        <div class="rol">
          <h4>Rol: <span>Administrador</span></h4>
        </div>
      </div>
    </div>
    <div class="options">
      <a class="option">
        <div class="img">
          <img src="/assets/icons/distrit.svg" alt="">
        </div>
        <h4>Datos del distrito</h4>
      </a>
      <a href="/rol" class="option">
        <div class="img">
          <img src="/assets/icons/rol.svg" alt="">
        </div>
        <h4>Roles</h4>
      </a>
      <a class="option">
        <div class="img">
          <img src="/assets/icons/hostel.svg" alt="">
        </div>
        <h4>Albergue</h4>
      </a>
      <a class="option">
        <div class="img">
          <img src="/assets/icons/inventary.svg" alt="">
        </div>
        <h4>Inventario</h4>
      </a>
      <a href="/user/list" class="option">
        <div class="img">
          <img src="/assets/icons/user.svg" alt="">
        </div>
        <h4>Usuarios</h4>
      </a>
    </div>
</div>
