.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-form {
  width: 80%;
  max-width: 400px; /* Limitamos el ancho máximo para que no se expanda demasiado en pantallas grandes */
}

.form-group {
  margin-bottom: 20px; /* Agregamos espacio entre los grupos de elementos */
}

.label {
  font-size: 18pt;
  color: #000;
}

input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
}

.password-requirements {
  list-style: none;
  padding-left: 20px; /* Añadimos un poco de sangría a la lista */
}

.password-requirements li {
  margin-bottom: 5px;
}

.success {
  color: green;
}

.invalid-feedback {
  color: red;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  padding-left: 50px;
}

.input-wrapper i {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.fa-eye-slash {
  font-size: 30px;
}

.fa-eye {
  font-size: 30px;
}

.btn {
  width: 110px;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 15px;
  background: #353755;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 8px 16px 0 rgba(49, 49, 72, 0.1), 0 0  0 1px rgba(49, 49, 72, 0.2);
}
