<div class="container">
  <form [formGroup]="passwordForm" class="password-form">
    <div class="form-group">
      <label for="password" class="label">Establecer contraseña</label>
      <div class="input-wrapper">
        <i [class]="showPassword['password'] ?  'fa-sharp fa-solid fa-eye-slash' : 'fa-solid fa-eye'" (click)="togglePasswordVisibility('password')"></i>
        <input type="{{showPassword['password'] ? 'text' : 'password'}}" formControlName="password" autocomplete="password">
      </div>
    </div>

    <input type="text" hidden aria-hidden="true" tabindex="-1" />

    <div class="input-wrapper">
      <i [class]="showPassword['confirmPassword'] ?  'fa-sharp fa-solid fa-eye-slash' : 'fa-solid fa-eye'" (click)="togglePasswordVisibility('confirmPassword')"></i>
      <input type="{{showPassword['confirmPassword'] ? 'text' : 'password'}}" formControlName="confirmPassword" autocomplete="new-password">
      <div *ngIf="invalidForm" class="invalid-feedback">
        Las contraseñas no coinciden.
      </div>
    </div>

    <ul class="password-requirements form-group">
      <li [class.success]="passwordForm.controls['password'].value && passwordForm.controls['password'].value.match(lowercaseRegex)">Al menos una letra minúscula</li>
      <li [class.success]="passwordForm.controls['password'].value && passwordForm.controls['password'].value.match(uppercaseRegex)">Al menos una letra mayúscula</li>
      <li [class.success]="passwordForm.controls['password'].value && passwordForm.controls['password'].value.match(numberRegex)">Al menos un número</li>
      <li [class.success]="passwordForm.controls['password'].value && passwordForm.controls['password'].value.match(specialCharacterRegex)">Al menos un carácter especial: &#64;$!%*?&</li>
      <li [class.success]="passwordForm.controls['password'].value && passwordForm.controls['password'].value.length >= 8">Al menos 8 caracteres de longitud</li>
    </ul>

    <div *ngIf="passwordForm.controls['password'].invalid && ( passwordForm.controls['password'].value.length >= 8)" class="invalid-feedback">
      La contraseña debe cumplir los requisitos anteriores.
    </div>

    <button class="btn" (click)="onSubmit()">Enviar</button>
  </form>
</div>
