<div class="container">
  <div class="options">
    <div class="search">
      <label class="search-label">
        <input type="search" placeholder="Nombre, Código, Raza" class="search-input">
        <img src="/assets/icons/lupa.svg" alt="icono lupa" class="search-icon">
      </label>
    </div>
    <div class="results">
      <div class="filters">
        <p>Resultados</p>
      </div>
    </div>
  </div>
  <div class="content-scrollbar-container">
    <div class="content">
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
      <app-pet />
    </div>
  </div>

</div>
