<div class="container">
  <div class="title-container">
    <h1>Nuevo Usuario</h1> <!-- Título centrado en la parte superior -->
  </div>
  <form class="content" (submit)="createUser()">
    <div class="permissions">
      <div class="name-container">
        <label for="name">Nombre:</label>
        <input id="name" name="name" [(ngModel)]="newUser.name" type="text">
      </div>
      <div class="name-container">
        <label for="lastname">Apellido:</label>
        <input id="lastname" name="lastname" [(ngModel)]="newUser.lastname" type="text">
      </div>
      <div class="name-container">
        <label for="email">Email:</label>
        <input id="email" name="email" [(ngModel)]="newUser.email" type="email">
      </div>
      <div class="name-container">
        <button type="button" class="cancel" (click)="cancel()">Cancelar</button>
        <button type="submit" class="create">Terminar registro</button>
      </div>
    </div>
    <div class="slide">
      <div class="name-container">
        <label for="roleId">Rol</label>
        <select id="roleId" name="roleId" [(ngModel)]="newUser.roleId">
          <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
        </select>
      </div>
      <!-- Aquí puedes colocar el campo de contraseña si lo necesitas -->
    </div>
  </form>
</div>
